body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.pokemon-card:hover {
  animation: hoverAnimation 0.3s ease-in-out forwards;
}

.pokemon-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.pokemon-image {
  width: 100px;
  height: 100px;
}

.pokemon-number, .pokemon-types {
  font-size: 1em;
  margin: 5px 0;
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
    background-color: #ffffff;
  }
  50% {
    transform: scale(1.05);
    background-color: #f0f0f0;
  }
  100% {
    transform: scale(1);
    background-color: #ffffff;
  }
}
